extends layout.pug
block content
  div#posts
    h1 List of Posts
    ul.post-list
      each post in posts
        li
          h2= post.title
          h6= post.url
          h6= post.user.username
